<div class="ms-depth-16 card">
    <div class="card-content">
        <h3 class="ms-fontSize-22 ms-fontWeight-regular">@SelectedDay.Date.ToString("D")</h3>
        
        @foreach (var item in SelectedDay.Events)
        {
            <div class="event shadow-effect @item.Color">
                @* todo: break the below item as component*@
                <h3 class="ms-fontSize-14 ms-fontWeight-regular">@item.StartDate.ToString("HH:mm") to @item.EndDate.ToString("HH:mm")</h3>
                <p class="ms-fontSize-14 ms-fontWeight-regular">@item.Subject</p> 
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public CalendarDay SelectedDay {get; set;}

    protected override void OnInitialized(){
        AddEvent.OnEventAdded += () => {
            StateHasChanged();
        };
    }
}